@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

$font-code: 'Barlow Condensed',
sans-serif;
$border-color: rgb(165, 165, 165);
$input-height: 50px;
$bcg-color: rgb(140, 143, 151);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3,
h4,
span,
div,
input {
    font-weight: normal;
}

input {
    outline: none;
    border: 1px solid $border-color;
}